<html ng-app="phonecatApp">
<head>
  <!-- <script src="lib/angular/angular.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="app.js"></script> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body ng-controller="PhoneListController">

<div>
    <input name="name" class="form-control" type="text" placeholder="Name" ng-model="todo.name">
    <input name="discription" class="form-control" type="text" ng-model="todo.discription" placeholder="discription">
    <button class="btn btn-info" ng-click="AddData()">{{btn}}</button>
</div>


    <table class="table table-border">
        <tr>
            <th>Name</th>
            <th>Discription</th>
            <th>action</th>            
        </tr>
        <tr ng-repeat="phone in phones">
            <th>{{phone.name}}</th>
            <th>{{phone.discription}}</th>
            <th>
                <button class="btn btn-danger" ng-click="removeItem($index)"> X</button>
                <button class="btn btn-warning" ng-click="editItem($index)"> #</button>

            </th>            
        </tr>
    </table>
  <!-- <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul> -->




  <script>
      // Define the `phonecatApp` module
      //https://tutorialslink.com/Articles/CRUD-operations-using-AngularJs-in-Aspnet-MVC/45
var phonecatApp = angular.module('phonecatApp', []);

// Define the `PhoneListController` controller on the `phonecatApp` module
phonecatApp.controller('PhoneListController', function PhoneListController($scope) {
  $scope.phones = [
    {
      name: 'Nexus S',
      discription: 'Fast just got faster with Nexus S.'
    }, {
      name: 'Motorola XOOM™ with Wi-Fi',
      discription: 'The Next, Next Generation tablet.'
    }, {
      name: 'MOTOROLA XOOM™',
      discription: 'The Next, Next Generation tablet.'
    }
  ];

$scope.btn = "Add";


$scope.AddData = function AddData(){
  console.log($scope.todo.name )
  console.log($scope.todo.discription )

  if($scope.todo.name =="" || $scope.todo.name ==undefined){
    alert("Name Is requared.");
    return
  }
  if($scope.todo.discription =="" || $scope.todo.discription ==undefined){
    alert("Discription Is requared.");
    return
  }


    if(  $scope.btn == "Add"){
        $scope.phones.push($scope.todo);
    }
    if(  $scope.btn == "Edit"){
        //console.log($scope.dataIndex)
        $scope.phones.splice($scope.dataIndex, 1,$scope.todo);

    }
    $scope.todo = {};
    $scope.btn = "Add";
    $scope.dataIndex= "";
}


$scope.todo = {};


$scope.removeItem = function removeItem(n){
    console.log(n )
    $scope.phones.splice(n, 1);
}
$scope.editItem = function editItem(n){
    console.log(n )
    $scope.btn = "Edit";
    $scope.todo.name =$scope.phones[n].name;
    $scope.todo.discription = $scope.phones[n].discription;
    $scope.dataIndex = n;
}

});
  </script>
</body>
</html>